#divIngredientes
{
    height: 80vh;
    overflow-y: auto;    
}

#divRecetas
{
    height: 80vh;
    overflow-y: auto;    
}

#imgPlatillo
{
    max-height: 40vh;    
}

#pPlatillo
{
    height: 40vh;
    overflow-y: auto;
}